/*
ALUMNO: CHRISTIAN ADRIAN PEREIRA GALEANO
ALUMNO: DIEGO LANAGRAN ESCAÑO
ALUMNO: ISMAEL LOPEZ VILLAR 
*/

body {
    color: white;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 20px;
    width: 92vw;
    margin: auto;
    margin-top: 15px;
}

.carro {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 10px;
    max-width: 100px;
    width: 100%;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid .imagenCoche {
    width: 85%;
    height: 300px;
    border-radius: 15px;
}

.grid figure {
    text-align: center;
    margin: 5px;
}

h1 {
    text-align: center;
}

.eliminarProd {
    background: none;
    border: none;
    padding: 20px;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.listaCompra {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logoCoches {
    width: 25px;
    margin-right: 10px;
}

#carrito {
    background-color: rgb(24, 21, 21);
    color: white;
    width: 70px;
    height: 20px;
    border-radius: 5px;
}

#carrito:hover {
    background-color: rgb(27, 22, 22);
    color: white;
    width: 90px;
    height: 25px;
    border-radius: 5px;
}

#fcarrito {
    background-color: rgb(24, 21, 21);
    color: white;
    width: 120px;
    height: 20px;
    border-radius: 5px;
}

#fcarrito:hover {
    background-color: rgb(66, 57, 57);
    color: white;
    width: 125px;
    height: 25px;
    border-radius: 5px;
}

#caja {
    width: 35px;
}