/*
ALUMNO: CHRISTIAN ADRIAN PEREIRA GALEANO
ALUMNO: DIEGO LANAGRAN ESCAÑO
ALUMNO: ISMAEL LOPEZ VILLAR 
*/
/* * {
    border: solid 1px white;
} */
body {
    color: white;
}

.grid img {
    width: 85%;
    height: 300px;
    border-radius: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 70vw;
    margin-top: 10px;
    float: left;
}

.grid figure {
    text-align: center;
    margin: 5px;
}

.carro{
    float: left;
}

h1 {
    text-align: center;
}

.eliminarProd {
    background: none;
    border: none;
    padding: 10px;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.listaCompra {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logoCoches {
    width: 25px;
    margin-right: 10px;
}