/*
ALUMNO: CHRISTIAN ADRIAN PEREIRA GALEANO
ALUMNO: DIEGO LANAGRAN ESCAÑO
ALUMNO: ISMAEL LOPEZ VILLAR 
*/

* {
    margin: 0;
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../font/Poppins-Regular.ttf);
}

/*CABESA*/
body {
    background-color: black;
    font-family: Poppins-Regular;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

i {
    margin-right: 6px;
    color: bisque;
}

.caja1 {
    width: 16%;
}

.logo {
    width: 110px;
    float: left;
    margin-left: 20%;
}

ol li {
    width: 18%;
    float: left;
    margin-top: 40px;
    color: white;
    list-style: none;
    text-align: center;

}

ol li a {
    color: bisque;
    text-decoration: none;
}

a:hover,
a:hover i {
    color: rgb(201, 172, 6);
}

header {
    height: 110px;
    border-bottom: 1px solid white;
}

footer {
    margin-top: auto;
    /* Este es el cambio */
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 15px;
}