/* Estilos generales */
section {
    width: 70%;
    margin: 30px auto;
    background-color: #222;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    color: #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #eee;
}

th {
    background-color: #444;
}

tr:nth-child(even) {
    background-color: #444;
}

table img {
    max-width: 150px; /* Mantenemos el tamaño original de la imagen */
    height: auto;
}

.totalReserva {
    font-size: 28px; /* Aumentamos el tamaño de la fuente */
    font-weight: bold;
    color: #ff0000;
    text-align: right; /* Alineamos el texto a la derecha */
}

button[name="realizarReserva"] {
    display: block;
    margin: 30px auto 0;
    padding: 15px 30px; /* Aumentamos el padding para hacerlo más grande */
    font-size: 18px; /* Aumentamos el tamaño de la fuente */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins-Regular;
}

button[name="realizarReserva"]:hover {
    background-color: #0056b3;
}

h2 {
    color: #eee;
    text-align: center;
    margin-bottom: 30px;
}

.contact-form {
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    color: #eee;
    margin: 30px auto;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.formularioContacto {
    width: 80%;
    margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
    width: calc(100% - 24px); /* Restamos 24px para compensar el padding */
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #eee;
}
