/*
ALUMNO: CHRISTIAN ADRIAN PEREIRA GALEANO
ALUMNO: DIEGO LANAGRAN ESCAÑO
ALUMNO: ISMAEL LOPEZ VILLAR 
*/

@font-face {
    font-family: Poppins-Regular;
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../font/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../font/Poppins-Bold.ttf);
}

body {
    margin: 10vw auto;
    text-align: center;
    background-color: #0e0e0e;
    color: #ccc;
    font-family: Poppins-Regular;
}

h1 {
    font-size: 45px;
    font-family: Poppins-Bold;
    color: #e0e0e0;
}

h3 {
    font-size: 20px;
    font-family: Poppins-Bold;
    color: #333333;
}

input[type=text], input[type=password] {
    font-size: 16px;
    color: #333333;
    /* display: block; */
    width: 80%;
    height: 55px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    font-family: Poppins-Regular;
}

form {
    margin: 0 auto;
    padding: 15px;
    border: 5px solid #ccc;
    border-radius: 10px;
    width: 400px;
    background: #fff;
}

input[type=submit] {
    padding: 6px;
    font-size: 1rem;
    background: cornflowerblue;
    color: #fff;
    border: none;
    margin: 10px;
    font-family: Poppins-Medium;
    padding: 0 20px;
    height: 50px;
    border-radius: 10px;
}

input[type=submit]:hover {
    cursor: pointer;
    opacity: 0.9;
}

.error {
    color: red;
}



